.nav{
  text-align: center;
}
.navbar-nav .nav-item{
  float: inherit;
  display: inline-block;
}
.navbar-nav .nav-brand{
  float: inherit;
  display: inline-block;
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  color: $primary-color;
    .light {
      font-weight: 300;
      color: #FFFFFF;
  }
  a {
    text-decoration: none;
    color: #FFFFFF;
  }
}
.navbar-top{
  background-color: #67BCDB;
  .container {
    background-color: #67BCDB;
  }
}
.navbar {
  text-align: center;
    .container {
      border: none;
      background-color: #a5d7ea;
    }
    border-radius: 0;
    background-color: #a5d7ea;
    .navbar-toggler {
        outline: none;
    }
    .nav-link {
      font-family: 'Orbitron', sans-serif;
      color: #FFFFFF !important;
      &.active {
        color: white;
      }
      .nav-link:hover {
        color: red;
      }
    }
    .nav-item.author-nav {
      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid #595959;
      }
    }
}

.collapse-bg {
    padding: 0 !important;
    .card {
        margin-bottom: 0;
        border-radius: 0;
        border: none;
    }
}


.collapse-bg .card .list-group-item {
    padding: 0;
    border-radius: 0 !important;
    border-color: black;
    a {
        background-color: #1a1a1a;
        color: #bdc3c7;
        width: 100%;
        height: 100%;
        padding: 10px;
        &:active {
            color: white;
            border-bottom: none;
        }
    }
}

@media(max-width:61.9em) {
  .navbar .navbar-nav {float:none !important;}
  .nav-item{width:100%;text-align:left;}
}
@media (max-width: 34em) {
  .navbar-nav .nav-brand { font-size: 1.9rem;
  }
}
