.navbar {
    .container {
      border-style: solid;
      border-width: 1px;
      border-top: none;
      border-color: #cbcbcb;
      background-color: white;
      margin-top: -5px;
      padding: 5px;
    }
    border-radius: 0;

    .navbar-brand {
      font-family: 'Kumar One', cursive;
        font-weight: bolder;
        color: $primary-color;
        .light {

            font-weight: 300;
            color: $primary-color;
        }
    }
    .navbar-toggler {
        outline: none;
    }
    .nav-link {
      font-family: 'Kumar One', cursive;
      color: $primary-color !important;
      &.active {
        color: $primary-color!important;
      }
      .nav-link:hover {
        color: red;
      }
    }
    .nav-item.author-nav {
      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid #595959;
      }
    }
}

.collapse-bg {
    padding: 0 !important;
    .card {
        margin-bottom: 0;
        border-radius: 0;
        border: none;
    }
}


.collapse-bg .card .list-group-item {
    padding: 0;
    border-radius: 0 !important;
    border-color: black;
    a {
        background-color: #1a1a1a;
        color: #bdc3c7;
        width: 100%;
        height: 100%;
        padding: 10px;
        &:active {
            color: white;
            border-bottom: none;
        }
    }
}

@media(max-width:61.9em) {
  .navbar .navbar-brand {float:none;display:inline-block;}
  .navbar .navbar-nav>.nav-item { float: none; margin-left: .1rem;}
  .navbar .navbar-nav {float:none !important;}
  .nav-item{width:100%;text-align:left;}
}
