.posts.index {
  #posts {
    margin-top: -5px;
    padding-top: 20px;
  }
  .card {
    border: none;
    border-radius: 5px;
    height: 400px;
    margin-bottom: 20px;
    background-color: white;
    .card-block {
      padding: 10px;
      .card-title {
        font-size: 1.5rem;
        font-family: 'Hammersmith One', sans-serif;
        margin-bottom: 0;
        a {
          color: black;
          text-decoration: none;
        }
      }
      .tags {
        margin-bottom: 0;
        a {
          font-family: 'Montserrat', sans-serif;
          font-size: 12px;
        }
      }
      }
      .card-text {

        font-size: 1rem;
        color: black;
        a {
          font-family: 'Montserrat', sans-serif;
          color: black;
          text-decoration: none;
        }
      }
      .author-bio {
        font-family: 'Montserrat', sans-serif;
        color: #67BCDB;
        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }
        h4 {
          font-weight: bold;
          font-size: 22px;
        }
        h6 {
          font-weight: 300;
          font-size: 16px
        }
        .published-date {
          font-size: 0.8rem;
          font-weight: 300;
          margin-top: 0.3rem;
          margin-bottom: 0.3rem;
      }
    }
  }
}

.posts.edit, .posts.new {
  .card {
    .card-block {
      background-color: $light-gray;
    }
    .card-title {
      margin-bottom: 0;
      font-size: 18px;
    }
    .list-group-item {
      padding: 10px;
      border-left: 0;
      border-right: 0;
      input[type='text'], textarea {
        font-size: 14px;
        background-color: $light-gray;
      }
      textarea {
        height: 100px;
      }
      &:last-child {
        background-color: $light-gray;
      }
    }
  }
}

.posts.show {
  .title {
    font-family: 'Gloria Hallelujah', cursive;

  }
  .show-banner {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .row {
      margin-top: -5px;
      padding-top: 30px;
  }
  .card {
    border: none;
    border-radius: 5px;
    height: 300px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    .card-topper {
      height: 150px;
      width: 100%;
      background-size: cover;
      background-position: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .card-block {
      padding: 10px;
      .card-title {
        font-size: 1.3rem;
        margin-bottom: 0;
        a {
          color: black;
          text-decoration: none;
        }
      }
      .tags {
        margin-bottom: 0;
        a {
          font-family: 'Montserrat', sans-serif;
          font-size: 12px;
        }
      }
      .card-text {
        font-size: 0.9rem;
        color: black;
        font-family: 'Montserrat', sans-serif;
      }
      a {
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
      }
    }
  }
  .author-bio {
    padding: 15px 45px;
    margin: 30px 0;
    color: red;
    img {
      height: 80px;
      width: 80px;
      border-radius: 50%;
    }
    img, h4 {
      margin-bottom: 10px;
    }
    h4 {
      font-weight: bold;
      font-size: 22px;
    }
    h6 {
      font-weight: 300;
      font-size: 16px
    }
  }
}
@media (max-width: 34em) {
  .card-topper {
    height: 175px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .col-lg-6 {
    height: 425px;
    padding-left:0;
    padding-right:0;
  }
}
@media screen and (min-width: 34em) {
  .posts.index .card {
    .card-topper {
      height: 275px;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    height: 460px;
    width: 100%;
  }
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
  .posts.index .card {
    .card-topper {
      height: 275px;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    height: 470px;
  }
}

/* Extra large. Above 75em (1200px) */
@media screen and (min-width: 75em) {
  .posts.index .card {
    .card-topper {
      height: 275px;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    height: 460px;
  }
}
